# Google Cloud Console > APIs & Services > Credentials > OAuth client ID (Web application)
# Authorized redirect URI: http://localhost:8080/callback or https://<your-vercel-domain>.vercel.app/callback
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Optional
# GOOGLE_SCOPE=https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly
# PORT=8080
